//************************************************************************//
// Typekit Fonts Mixin
//************************************************************************//

@mixin font($weight: normal, $style: normal, $font: 1) {
  @if $font == 1 {
    font-family: $base-font-family;
  }
  @if $font == 2 {
    font-family: $base-font-family-alt
  }

  @if $weight == 400 {
    font-weight: normal;
  }
  @if ($weight == bold) and ($font == 1) {
    // Covert bold to semibold
    font-weight: 600;
  }
  @else {
    font-weight: $weight;
  }

  font-style:  $style;
}

@mixin inline-separator($color: $base-border-color-alt) {
  position: relative;

  span {
    background: #fff;
    padding-right: 16px;
    position: relative;
    z-index: 1;
  }

  &:after {
    border-top: 1px solid $base-border-color-alt;
    content: "";
    @include position(absolute, 50% 0px 0 0px);
    z-index: 0;
  }
}

@mixin hover-text-decoration($decoration: none) {
  &:hover {
    text-decoration: $decoration;
  }
}

@mixin background-color-rgba($list...) {
  @if length($list) == 4 {
    $color:   rgb(nth($list, 1), nth($list, 2), nth($list, 3));
    $opacity: nth($list, 4);
    @include tint-shade($color, $opacity);
    background-color: rgba($color, $opacity);
  } @else {
    $color:   nth($list, 1);
    $opacity: nth($list, 2);
    @include tint-shade($color, $opacity);
    background-color: rgba($color, $opacity);
  }
}

@mixin tint-shade($color, $opacity) {
  @if lightness($color) > 50% {
    background-color: tint($color, percentage($opacity));
  } @else {
    background-color: shade($color, percentage($opacity));
  }
}

@mixin app-button($bg-color: $base-button-action, $height: 30px, $hover: true) {
  $color: white;

  @if lightness($bg-color) > 70% {
    $color: $base-color-alt;
  }

  @include font(600);
  @include box-sizing(border-box);
  background-color: $bg-color;
  border-radius: 3px;
  border: 1px solid darken($bg-color, 10%);
  box-shadow: inset 0 1px 0 lighten($bg-color, 20%);
  color: $color !important;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: $height;
  line-height: $height;
  padding: 0 $height/2;
  position: relative;
  text-align: center;
  -webkit-appearance: none;
  text-rendering: optimizeLegibility;

  .icon {
    color: inherit;
  }

  @if $hover == true {
    &:hover {
      @include linear-gradient(lighten($bg-color, 10%), $bg-color);
      background-color: lighten($bg-color, 10%);
      border: 1px solid darken($bg-color, 30%);
      box-shadow: inset 0 1px 0 lighten($bg-color, 30%), 0 1px 2px rgba(black, 0.1);
      text-decoration: none;
      z-index: 1;
    }

    &:active {
      box-shadow: inset 0 0 8px darken($bg-color, 15%);
      background-color: darken($bg-color, 10%);
    }

  } @else if $hover == false {
    box-shadow: none !important;
    cursor: default;

    &:hover {
      background-image: none;
      background-color: $bg-color;
    }
  }
}

@mixin dropdown-toggle-box($foreground, $background, $size: 16px) {
  background-color: $background;
  border-radius: 3px;
  display: block;
  height: $size;
  margin: 14px -1px 0 10px;
  position: relative;
  width: $size;

  .arrow {
    @extend .arrow-tiny;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -4px;
    border-top-color: $foreground;
  }

  &:hover {
    background-color: darken($background, 10%);
  }
}

@mixin add-tooltip($color, $border: null, $size: 10px, $position: 50%) {
  position: relative;

  &::before {
    @if $border {
      border: 1px solid $border;
      border-bottom: 0;
      border-right: 0;
    }

    @include transform(rotate(45deg));
    background-color: $color;
    content: "";
    height: $size;
    left: $position;
    margin-left: -($size / 2);
    position: absolute;
    top: -($size / 2);
    width: $size;
  }
}

@mixin dark-background {
  background-color: $base-color-alt;
  background-image: image_url("textures/linen_300x300.png");
}